<section class="body mt-5">
    <section class="container w-75 m-auto">
        <section class="row">
            <section class="col-md-6 col-sm-12" *ngFor=" let good of goods">
                <section class="card w-75 mb-3 text-left" >
                    <img class="card-img-top img-fluid" [src]="good.photoUrl" alt="">
                    <section class="card-body">
                        <!-- Good Name  -->
                        <h4 class="card-title">{{good.name | titlecase}}</h4>
                        <!-- Good Price  -->
                        <p class="card-text">{{good.price | currency}}</p>
                        <!-- Add To Cart  -->
                        <button type="button" name="" id="" class="btn btn-primary" 
                        (click)="AddToCart(good.id)">Add To Cart</button>

                    </section>
                </section>
            </section>
        </section>
        
    </section>
</section>
