<section class="body mt-5">
    <section class="container w-75 m-auto">
        <section class="row">
            <section class="col-md-6 col-sm-12" *ngFor=" let good of goods; index as i">
                <section class="card w-75 mb-3 text-center" >
                    <img class="card-img-top m-auto img-fluid" [src]="good.photoUrl" alt="">
                    <section class="card-body">
                        <!-- Good Name  -->
                        <h4 class="card-title">{{good.name | titlecase}}</h4>
                        <!-- Good Price  -->
                        <p class="card-text">{{good.price | currency}}</p>
                        <!-- Add To Cart  -->
                        <button type="button" name="" id="" class="btn btn-primary" 
                        (click)="AddToCart(i)" *ngIf="add !== i">Add To Cart</button>
                        <!-- From Here You Can Select How Many Piece You want -->
                        <section *ngIf="add === i" class="">
                            <input  class="form-control m-auto w-50 mt-3" 
                            type="number" placeholder="Amount(piece)" #amount>
                            <button class="btn btn-primary mt-2" 
                            routerLink="/Cart" (click)="buy(amount.value)"> Buy </button>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        
    </section>
</section>
