.container
{
    height: 700px;
    display: flex;
    align-items: center;
    input {
        width: 75%;
        margin:auto; 
    }
    .btn{
        width: 250px;
    }
}
@media only screen and(max-width: 400px){
    .container
    {
        input {
            width: 100%;
            margin:auto; 
        }
        .btn{
            width: 250px;
        }
    }
}